<%inherit file="/template.html"/>

<%block name="header">
    Configuration
</%block>
<h2>Environment</h2>
<p>Currently Selected: ${VM.environment}</p>
<form action="/configure/environment" method="post">
	<select name="vm.environment">
		% for env in environments:
			% if VM.environment == env['code']:
				<% selected = 'selected="selected""' %>
			% else:
				<% selected = '' %>
			% endif
            <option value="${env['code']}" ${selected}>${env['name']}</option>
		% endfor
	</select>
	<button type="submit">Save</button>
</form>
