% if len(user.errors()):
    <h3>Errors:</h3>
    <ul>
        % for e in user.errors():
            <li>${e}</li>
        % endfor
    </ul>
% endif
<fieldset>
    <legend>User</legend>
    <ul>
        <li>
            <label for="user.group">Group</label>
            <select id="user.user_group" name="user.user_group">
                % for g in ['user', 'admin']:
                    <%
                    if user.user_group == g:
                        selected = 'selected'
                    else:
                        selected = ''
                    %>
                    <option value="${g}" ${selected}>${g}</option>
                % endfor
            </select>
        </li>
        <li>
            <label for="user.username">Username</label>
            <input id="user.username" name="user.username" type="text" value="${user.username}" required />
        </li>
        <li>
            <label for="user.name">Name</label>
            <input id="user.name" name="user.name" type="text" value="${user.name}" required />
        </li>
        <li>
            <label for="user.email">Email</label>
            <input id="user.email" name="user.email" type="text" value="${user.email}" required />
        </li>
    </ul>
</fieldset>
<fieldset>
    <legend>Virtualization Authentication Data</legend>
    <ul>
        % for m in auth_meta:
        <li>
            <label for="auth_meta.${m}">${m}</label>
            <input id="auth_meta.${m}" name="auth_meta.${m}" type="text" value="${auth_meta[m]}"/>
        </li>
        % endfor
    </ul>
</fieldset>
<button type="submit">Add</button>

