<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/form.css">
</%block>

<%block name="header">
    Users Management
</%block>
<form action="/users/password/${user.id}" method="post">
    <fieldset>
        <legend>User</legend>
        <ul>
            <li>
                <label for="user.password">Password</label>
                <input id="user.password" name="user.password" type="password" value="${user.password}" required />
            </li>
            <li>
                <label for="user.password_repeat">Repeat Password</label>
                <input id="user.password_repeat" name="user.password_repeat" type="password" required />
            </li>
        </ul>
    </fieldset>
    <button type="submit">Change Password</button>
</form>
