<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/form.css">
</%block>

<%block name="header">
    Jails Management
</%block>

<form class="basic" name="jails" method="post" action="/jails/add">
    <fieldset>
        <legend>Jail</legend>
        <ol>
            <li>
                <label for="environment">Environment:</label>
                <select id="environment" name="jail.environment" >
                % for env in environments:
                    <option value="${env.id}">${env.name}</option>
                % endfor
                </select>
            </li>
            <li>
                <label for="type">Type:</label>
                <select id="type" name="type" >
                % for typ in jailTypes:
                    <option value="${typ.name}" data-ip="${typ.ip}">
                        ${typ.name}
                    </option>
                % endfor
                </select>
            </li>
            <li>
                <label for="name">Name:</label>
                <input id="name" name="jail.name" type="text" required />
            </li>
            <li>
                <label for="url">Url:</label>
                <input id="url" name="jail.url" type="url" required />
            </li>
            <li>
                <label for="ip">Ip:</label>
                <input id="ip" name="jail.ip" type="text" required />
            </li>
            <li>
                <label for="netmask">Netmask:</label>
                <input id="netmask" name="jail.netmask" type="text" required />
            </li>
        </ol>
    </fieldset>
    <button type="submit">Add</button>
</form>
<script type="text/javascript">
    var select = document.getElementById("type")

    var setIp = function(e) {
        var idx = this.selectedIndex;
        var ip = this.options[idx].dataset.ip;
        document.getElementById("ip").value = ip;
    }
    select.addEventListener('change', setIp, false);
    var evt = document.createEvent("HTMLEvents");
    evt.initEvent("change", true, true);
    select.dispatchEvent(evt);
</script>
