<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
</%block>
<%block name="header">
    Jails Management
</%block>

<h2>Jails <a href="/jails/add">Add a new jail</a></h2>
% if not len(jails):
    <div>No jails are currently set</div>
% else:
    <div class="index">
        <table cellspacing="0" colspan="0">
            <tr>
                <th>Environment</th>
                <th>Name</th>
            </tr>
            % for jail in jails:
            <tr>
                <td>%{jail.environment}</td>
                <td><a href="/jails/view/${jailId}">${jail.name}</a></td>
                <td><a href="/jails/delete/${jailId}">Delete</a></td>
            </tr>
            % endfor
        </table>
    </div>
% endif

