<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
</%block>
<%block name="header">
    Jails Management
</%block>

<h2>Jails <a href="/jails/add">Add a new jail</a></h2>
% if not len(jails):
    <div>No jails are currently set</div>
% else:
    <div class="index">
        <table cellspacing="0" colspan="0">
            <tr>
                <th>Environment</th>
                <th>Name</th>
            </tr>
            % for jail in jails:
            <tr>
                <td>%{jail.environment}</td>
                <td>${jail.name}</td>
                <td>
                    <a href="/jails/edit/${jail.id}">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="/jails/delete/${jail.id}">Delete</a>
                </td>
            </tr>
            % endfor
        </table>
    </div>
% endif

