<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/form.css">
</%block>

<%block name="header">
    Jails Management
</%block>

<div class="span4">
    <h1>Login</h1>
    <form action="/login" method="post" class="well form-horizontal">
        <fieldset>
            <label>Username</label>
            <input id='user.name' type="text" name="user.username" />
            <label>Password</label>
            <input id='user.password' type="password" name="user.password" />
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Authenticate</button>
            </div>
        </fieldset>
    </form>
</div>
