<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/form.css">
</%block>
<%block name="header">
    Keys Management
</%block>

<% atts = '' if not disabled else 'disabled' %>

<form class="vertical" name="keys" method="post" action="/keys/add">
    <div>
        <label for="name">Title</label>
        <input id="name" name="name" type="text" required ${atts}
            value="${key.name if key.name else ''}" />
    </div>
    <div>
        <label for="key">Key</label>
        <textarea id="key" name="key" required ${atts}>${key.key if key.key else ''}</textarea>
    </div>

    % if not disabled:
        <div>
            <input type="submit" value="Add" />
        </div>
    % endif
</form>
