<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/form.css">
</%block>
<%block name="header">
    Keys Management
</%block>

<% atts = '' if not disabled else 'disabled' %>

<form class="vertical" name="keys" method="post" action="/keys/add">
    <div>
        <label for="name">Name</label>
        <input id="name" name="key.name" type="text" required ${atts} value="${key.name}" />
    </div>
    <div>
        <label for="key">Key</label>
        <textarea id="key" name="key.key" required ${atts}>${key.key}</textarea>
    </div>

    % if not disabled:
        <div>
            <button type="submit">Submit</button>
        </div>
    % endif
</form>
