
form.basic fieldset legend {
    font-weight: bold;
    padding: 0 2px;

}
form.basic fieldset li {
    list-style: none;
}

form.basic fieldset ol {
    margin: 0;
    padding: 0;
}

form.basic label {
    display: inline-block;
    line-height: 1.8;
    width: 120px;
}
