h2 {
    margin: 0px;

}
h2 a {
    font-size: 60%;
}

li.section {
    display: block;
    margin-left: 0px;
}

div.index > ol {
    margin-left: -30px;

}
li.section > h3 {
    margin: 5px;
    line-height: 60%;
}
li.section > ol {
    margin-left: -25px;
}
li.subsection {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
li.subsection > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #EEE;
}

li.subsection ol {
    display: inline-block;
    margin-top: 5px;
    margin-left: -20px;
    list-style: none;

}


