<%inherit file="/layouts/default.html" />

<h2>Running Virtual Machines</h2>
<table class="table table-bordered" cellspacing="0" cellpadding="0">
    <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    % for i in instances:
        <%
        vm = None
        public_ip = False
        for k in virtual_machines:
            if not k.instance_id == i.id:
                continue
            vm = k
        %>
        <tr>
            <td>${i.name}</td>
            <td>
                <ul>
                    % for type in i.addresses:
                        % for addr in i.addresses[type]:
                            <%
                            if addr['addr'].startswith('10.0'):
                              public_ip=addr
                            %>
                            <li>${addr['addr']}</li>
                        % endfor
                    % endfor
                </ul>
            </td>
            <td>${i.status}</td>
            <td>
                    % if public_ip:
                    <a class="btn btn-info btn-mini"  href="http://${public_ip}:8080"><i class="icon-wrench icon-white"></i> Manage</a>
                    % elif vm:
                        % if not vm.ip:
                            <a class="btn btn-info btn-mini"  href="/virtual_machines/add_public_ip/${vm.id}"><i class="icon-globe icon-white"></i> Add Public IP</a>
                        % endif
                    % endif
                    % if vm:
                        <a class="btn btn-warning btn-mini"  href="/virtual_machines/restart/${vm.id}"><i class="icon-refresh icon-white"></i> Reboot</a>
                        <a class="btn btn-danger btn-mini"  href="/virtual_machines/delete/${vm.id}"><i class="icon-trash icon-white"></i> Delete</a>
                    % endif
            </td>
        </tr>
    % endfor
</table>

