*{
	font-family: Verdana, Helvetica;
}
h2, h3, h4 {
	margin-top: 10px;
	margin-bottom: 15px;
}
h2{
	background-color: #eeeeee;
}
h3{
	margin-top: 50px;
	border-bottom: 5px solid #eeeeee;
}
p, table{
	font-size: 12px;
}

table{
	margin: 10px;
}

ul {
	list-style: none;
}

a{
	text-decoration: none;
	color: #6A92D4;
	font-weight: bold;
}

a:hover{
	color: #052C6E;
}

div#wrapper{
	width: 80%;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
}

div#header{
	text-align: left;
	height: 60px;
}

div#header h1{
	color: #68A5E4;
	font-family:  'Lucida Grande', Verdana, sans-serif;
}

div#content{
	min-height: 300px;
	margin: 5px;
	text-align: left;
}

div#footer{
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 10px;
	background-color: #eeeeee;
	margin-top: 10px;
	padding: 10px;
}

ul.logs li p{
	font-family: 'Inconsolata', sans-serif;
}

div.flash{
	color: green;
	text-align: left;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
div.flash p{
	font-size: 14px;
	font-weight: bold;
	margin: 10px;
}