<%inherit file="/layouts/default.html" />

<%block name="css">
    <link type="text/css" rel="stylesheet" href="/static/css/form.css">
</%block>

<%block name="header">
    Jails Management
</%block>

<form class="basic" method="post" action="/jail_types/edit/${jail_type.id}">
    <fieldset>
        <legend>Jail Type</legend>
        <ol>
            <li>
                <label for="id">ID</label>
                <input id="id" name="jail_type.id" type="text" value="${jail_type.id}" required />
            </li>
            <li>
                <label for="ip">IP</label>
                <input id="ip" name="jail_type.ip" type="text" value="${jail_type.ip}" required />
            </li>
            <li>
                <label for="netmask">Netmask</label>
                <input id="netmask" name="jail_type.netmask" type="text" value="${jail_type.netmask}" required />
            </li>
        </ol>
    </fieldset>
    <button type="submit">Add</button>
</form>


