<%inherit file="/layouts/default.html" />
<%block name="header">
    Repo Configuration Management
</%block>
<div>
    <a href="/repos/add">Add a new repository configuration</a>
</div>
<h2>Repositories</h2>
% if not len(repos):
    <div>There are currently no registered repositories configuration.</div>
% else:
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>Environment</th>
            <th>Action</th>
        </tr>
        % for repo in repos:
        <tr>
            <td>${repo.environment}</td>
            <td>
                <a href="/repos/view/${repo.environment}">View</a>
                &nbsp;|&nbsp;
                <a href="/repos/delete/${repo.environment}">Delete</a>
            </td>
        </tr>
        % endfor
    </table>
% endif
